<div class="container">
<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>
  <h4>posted by <%= link_to blog.user.name, user_path(blog.user) %></h4>

  <h6><%= pluralize(blog.views, "view") %></h6>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

</div>
</div>